---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap"
            rel="stylesheet"
        />
        <title>Conferencias espaciales</title>
    </head>
    <body>
        <header class="w-full h-[70px] shadow-2xl bg-blue-800">
            <h1 class="text-3xl text-white font-bold p-4 uppercase">
                <a href="/">Conferencias espaciales</a>
                <a href="/admin/calendar" class="ml-4 text-lg capitalize hover:text-red-500">
                    Calendario
                </a>
            </h1>
        </header>

        <section
            class="w-full h-[calc(100vh-70px)] flex justify-center items-center p-4"
        >
            <div
                class="w-4/5 h-full overflow-y-scroll mx-auto bg-slate-500 rounded-xl shadow p-8"
            >
                <slot />
            </div>
        </section>
    </body>
</html>
